POSTGRES_URL="postgres://default:password@ep-host.region.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:password@ep-host.region.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:password@ep-host.region.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:password@ep-host.region.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-host.region.postgres.vercel-storage.com"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="verceldb"